<ion-view hide-tabs="true">
<link rel="stylesheet" href="css/clothes/detail.css">
<ion-header-bar align-title="center" class="bar-dark">
    <a href="#/tab/clothes" class="item-icon-left">
        <i class="icon ion-ios-arrow-back"></i>
    </a>
    <h1 class="title" style="color:white;">苏欧娜婚纱摄影</h1>
</ion-header-bar>
	<ion-content class="bookingbg">	
	    <div>
        	<div id="myCarousel" class="carousel slide">
        	<!-- 轮播（Carousel）指标 -->
        	<ol class="carousel-indicators">
            	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            	<li data-target="#myCarousel" data-slide-to="1"></li>
            	<li data-target="#myCarousel" data-slide-to="2"></li>
            	<li data-target="#myCarousel" data-slide-to="3"></li>
        	</ol>   
        	<!-- 轮播（Carousel）项目 -->
        	<div class="carousel-inner">
            	<div class="item active">
                	<img src="img/common/1.jpg" alt="First slide">
            	</div>
            	<div class="item">
                	<img src="img/common/2.jpg" alt="Second slide">
            	</div>
            	<div class="item">
                	<img src="img/common/3.jpg" alt="third slide">
            	</div>
            	<div class="item">
                	<img src="img/common/4.jpg" alt="fourth slide">
            	</div>
            	<a class="carousel-control left" href="#myCarousel" 
            	data-slide="prev">&lsaquo;</a>
            	<a class="carousel-control right" href="#myCarousel" 
            	data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <div class="img_box">
            <div class="m_header">
        <h3>婚服欣赏</h3>
        <div style="color: #878687; font-size: 1rem;">一件婚纱，充满了对未来生活的向往</div>
        <div style="color: #cbcbcb; font-size: .8rem;">A wedding dress, full of longing for the future life</div>
      </div>
            <div class="z_title">{{title}}</div>
            <ul ng-repeat='list in imgs'>
                <li><img src="{{list.vdeo}}" alt=""></li>
            </ul>
        </div>	
    </div>
    <div class="footer"></div>
	</ion-content>
    <script>
        $(function () {
            $('.footer').load('templates/common-footer.html');
        })
    </script>
</ion-view>