<ion-view view-title="首页">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/myself/tab-myself.css">
<ion-header-bar align-title="center" class="bar-dark">
  <h1 class="title" style="color:white;">苏欧娜婚纱摄影</h1>
    <img class= "t-img"src="img/logo.png" alt="">
</ion-header-bar>
	<ion-content class="padding">
<div class="m_main">
	<div class="myself-content">
		<img src="img/myself/login.jpg" style="">
	</div>
	<div class="myself-contentt">
		<ul>
			<li class="my-con">
				<span class="my-con1 ion-clipboard"></span>
				<span><a href ng-click='favorite()'>我的收藏</a></span>
			</li>
			<li class="my-con">
				<span class="my-con2"></span>
				<span id="spn"><a href="#/tab/login" ng-click='login()'>登录</a></span>
			</li>
			<li>
				<span class="my-con3"></span>
				<span id="spnn"><a href="#/tab/enroll" ng-click='register()'>注册</a></span>
			</li>
		</ul>
	</div>
	<div class="my-bottom1"></div>
	<div class="my-bottom">
		<ul>
			<li>
				<span class="ion-ios-telephone"></span>
				<span>
					电话客服
				</span>
				<span class="ion-ios-arrow-forward lfringht"></span>
			</li>
			<li>
				<span class="ion-android-pin"></span>
				<span>
					<a href="#/tab/detail">详细地址</a>
				</span>
				<span class="ion-ios-arrow-forward lfringht"></span>
			</li>
			<li class="mybott3">
				<span class="ion-document-text"></span>
				<span>
					配送说明
				</span>
				<span class="ion-ios-arrow-forward lfringht"></span>
			</li>
			<li>
				<span class="ion-person-stalker" id="our"></span>
				<span class="our">
					关于我们
				</span>
				<span class="ion-ios-arrow-forward lfringht"></span>
			</li>
		</ul>	
	</div>
</div>
	</ion-content>
	<script src="js/myself/jquery-3.1.1.min.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	<script src="js/1.js"></script>
	<script>
		$(function(){
			
		})
	</script> 
</ion-view> 