<ion-view view-title="婚纱礼服">
<link rel="stylesheet" href="css/clothes/clothes.css">
<ion-header-bar align-title="center" class="bar-dark">
  <h1 class="title" style="color:white;">苏欧娜婚纱摄影</h1>
    <img class= "t-img"src="img/logo.png" alt="">
</ion-header-bar>
  <ion-content>
    <div class="all">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>   
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" data-ride="carousel">
                <div class="item active">
                    <img src="img/common/1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="img/common/2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="img/common/3.jpg" alt="third slide">
                </div>
                <div class="item">
                    <img src="img/common/4.jpg" alt="fourth slide">
                </div>
                <a class="carousel-control left" href="#myCarousel" 
                data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" 
                data-slide="next">&rsaquo;</a>
            </div>
        </div>

     	<div class="index">
            <div class="in-top">
                <div class="in-top-t">
                    <h3 class="in">婚纱礼服</h3>
                    <p class="in-title">一件婚纱，充满了对未来生活的向往</p>
                    <p class="in-eng" sty>A wedding dress, full of longing for the future life</p>
                </div>
                <div class="fenlei">
                    <a href ng-click="isA()" class="btn-sx wcc hs">婚纱</a>
                    <a href ng-click="isB()" class="btn-sx lf">礼服</a>
                </div>
                    <div>
                        <div class="wd">
                            <ul>
                                <li ng-repeat='list in lists'>
                                    <a href="#/tab/clothes-detail/{{list.id}}/{{list.explain}}"><img src="{{list.img}}" alt=""></a><br>
                                        <span ng-click="clothes_collection($event,list.id)">
                                            点我收藏~
                                            <i class="icon ion-android-favorite-outline"></i>
                                        </span>
                                </li>
                            </ul>
                        </div>
                        <div class="fd" style="display:none">
                            <ul>
                                <li ng-repeat='list in list'>
                                    <a href="#/tab/clothes-detail/{{list.id}}/{{list.explain}}"><img src="{{list.img}}" alt=""></a>
                                    <span ng-click="clothes_collection($event,list.id)">
                                        点我收藏~
                                        <i class="icon ion-android-favorite-outline"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                     <div class="footer">
                        <ul>
                            <li class= "classification"><a href="javascript:;">作品欣赏</a></li>
                            <li class= "classification"><a href="javascript:;">最新客片</a></li>
                            <li class= "classification"><a href="javascript:;">婚纱礼服</a></li>
                            <li class= "classification"><a href="javascript:;">关于我们</a></li>
                        </ul><br>
                        <span>全国热线:18437221599</span><br>
                        <span>联系地址：</span>
                    </div>
        </div>
    </div>
  </ion-content>
</ion-view>
