<ion-view view-title="首页">
<link rel="stylesheet" href="css/page/page.css">
    <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title" style="color:white;">苏欧娜婚纱摄影</h1>
    <img class= "t-img"src="img/logo.png" alt="">
  </ion-header-bar>
    <ion-content>  
    <div>
        <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>   
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/common/1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="img/common/2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="img/common/3.jpg" alt="third slide">
            </div>
            <div class="item">
                <img src="img/common/4.jpg" alt="fourth slide">
            </div>
            <a class="carousel-control left" href="#myCarousel" 
            data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" 
            data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <div class="index">
            <div>
                <ul class="nav-img">
                    <li><a href="#/tab/zuopin">作品</a></li>
                    <li><a href="#/tab/kepian">客片</a></li>
                    <li><a href="#/tab/clothes">婚服</a></li>
                    <li><a href="#/tab/myself">关于我们</a></li>
                </ul>
            </div>
            <div class="sentence">
                <span>一件婚纱，充满了对未来生活的向往。</span><br>
                <span>一张婚纱照，除了想留住自己的美丽，还想证明自己选对了</span>
            </div>
            <div class="works">
                <div class="img_firth">
                    <img src="img/page/5.jpg" alt="">
                    <img src="img/page/6.jpg" alt="">
                    <div class="clear"></div>
                </div>
                <div class="img_second">
                    <div>
                        <a href="javascript:;"><img src="img/page/7.jpg" alt=""></a>
                        <a href="javascript:;"><img src="img/page/8.png" alt=""></a>
                    </div>
                    <a href="javascript:;"><img src="img/page/9.jpg" alt=""></a>
                </div>
            </div>
            <div class="img_third">
               <a href="javascript:;"><img src="img/page/13.jpg" alt=""></a>
               <a href="javascript:;"><img src="img/page/14.jpg" alt="" style="display:none"></a>
               <a href="javascript:;"><img src="img/page/15.jpg" alt="" style="display:none"></a>
            </div>
            <ul class= "lunbo">
                    <li ng-click="lunbo1()" class="mj">极致美景</li>
                    <li ng-click="lunbo2()" class="fq">异域风情</li>
                    <li ng-click="lunbo3()" class="sun">夏日阳光</li>
            </ul>
            <div class="img_pringles">
                <span>最新客片</span><br>
                <span>一个真正的摄影师像真正的诗人或真正的画家那样少见</span><br>
                <span>A real photographer is as rare as a true poet or a real painter</span>
            </div>
            <div class="pringles">
                <ul>
                    <li>
                        <a href="javascript:;"><img src="img/page/16.jpg" alt=""></a>
                        <span>最新客片</span><br>
                        <span>Pandora's Mike</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-01-15</span><br>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="img/page/17.jpg" alt=""></a>
                        <span>最新客片</span><br>
                        <span>Pandora's Mike</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-01-15</span><br>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="img/page/18.jpg" alt=""></a>
                        <span>最新客片</span><br>
                        <span>Pandora's Mike</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-01-15</span><br>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="img/page/19.png" alt=""></a>
                        <span>最新客片</span><br>
                        <span>Pandora's Mike</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-01-15</span><br>
                    </li>
                </ul>
            </div>
            <dic class="clear"></dic>
            <div class= "pringles_works"><a href="">查看更多作品</a></div>
             <div class="img_pringles well_received">
                <span>最受欢迎作品</span><br>
                <span>一生一世一双人</span><br>
                <span>One person for life</span>
            </div>
            <div class="pringles">
                <ul>
                    <li>
                        <a href="javascript:;"><img src="img/page/20.jpg" alt=""></a>
                        <span>最受欢迎作品</span><br>
                        <span>Pandora's Marry</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-03-15</span><br>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="img/page/21.jpg" alt=""></a>
                        <span>最受欢迎作品</span><br>
                        <span>Pandora's Marry</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-03-15</span><br>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="img/page/22.jpg" alt=""></a>
                        <span>最受欢迎作品</span><br>
                        <span>Pandora's Marry</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-03-15</span><br>
                    </li>
                    <li>
                        <a href="javascript:;"><img src="img/page/23.png" alt=""></a>
                        <span>最受欢迎作品</span><br>
                        <span>Pandora's Marry</span><br>
                        <span>Photography</span><br>
                        <span>POST TIME-2017-03-15</span><br>
                    </li>
                </ul>
            </div>
            <div class= "pringles_works"><a href="">查看更多作品</a></div>
            <div class="footer">
            </div>
        </div>
    </div>
  </ion-content>
  <script>
      $(function () {
          $('.footer').load('templates/common-footer.html');
      })
  </script>
</ion-view>
