<!-- 客片 -->
<link rel="stylesheet" href="css/video/kepian.css">
<link rel="stylesheet" href="css/video/boot/css/bootstrap.css">
<link rel="stylesheet" href="css/common.css">
<ion-view view-title="客片">
<ion-header-bar align-title="center" class="bar-dark">
  <h1 class="title" style="color:white;">苏欧娜婚纱摄影</h1>
    <img class= "t-img"src="img/logo.png" alt="">
</ion-header-bar>
  <ion-content>
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>   
    <!-- 轮播（Carousel）项目 -->
<div class="carousel-inner">
  <div class="item active">
    <img src="img/common/1.jpg" alt="First slide">
  </div>
    <div class="item">
      <img src="img/common/2.jpg" alt="Second slide">
    </div>
    <div class="item">
      <img src="img/common/3.jpg" alt="third slide">
    </div>
    <div class="item">
      <img src="img/common/4.jpg" alt="fourth slide">
    </div>
    <a class="carousel-control left" href="#myCarousel" 
    data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" 
    data-slide="next">&rsaquo;</a>
</div>
</div>
<div class="kp-sx">
  <div class="kp-top">
    <div class="kp-top-t t">
      <h3 class="t">最新客片</h3>
      <p class="kp-title">我们用影像触碰心灵，见证真爱，成就经典</p>
      <p class="kp-eng" sty>We use images to touch the heart, witness the true love, achievement classics</p>
    </div>
    <div class="sort">
      <a href class="btn-sx">三亚拍摄</a>
      <a href class="btn-sx">上海拍摄</a>
      <a href class="btn-sx">大理拍摄</a>
    </div>
    <div class="kp-detail">
      <ul class="ul-list">
        <li ng-repeat="list in lists">
          <div class="pad">
            <div class="img-box">
              <a href="#/tab/kepian/video/{{list.id}}">
                <img src="{{list.img}}" alt="">
              </a>
            </div>
            <h3 class="f-title">{{list.explain}}</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
<div class="footer"></div>
</div>
<ion-nav-view></ion-nav-view>
</ion-content>
<script src='js/video/kepian.js'></script>
</ion-view>