<link rel="stylesheet" href="../css/style.css">
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 首页 -->
  <ion-tab title="首页" icon-off="bar-home" icon-on="bar-homel" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="作品" icon-off="ion-zuopin" icon-on="ion-zuopinl" href="#/tab/zuopin">
    <ion-nav-view name="tab-zuopin"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="客片" icon-off="ion-kepian" icon-on="ion-kepianl" href="#/tab/kepian">
    <ion-nav-view name="tab-kepian"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="婚服" icon-off="bar-hunli" icon-on="bar-hunlil" href="#/tab/clothes">
    <ion-nav-view name="tab-clothes"></ion-nav-view>
  </ion-tab>

 <ion-tab title="我的" icon-off="bar-wd" icon-on="bar-wdl" href="#/tab/myself">
    <ion-nav-view name="tab-myself"></ion-nav-view>
 </ion-tab>
  

</ion-tabs>
