<ion-view view-title="作品">
	<link rel="stylesheet" href="css/writing/writing.css" />
  <link rel="stylesheet" href="css/video/boot/css/bootstrap.css">
  <link rel="stylesheet" href="css/common.css">
  <ion-header-bar align-title="center" class="bar-dark">
  <a href="#/tab/zuopin" class="item-icon-left">
      <i class="icon ion-ios-arrow-back"></i>
    </a>
  <h1 class="title" style="color:white;">苏欧娜婚纱摄影</h1>
  </ion-header-bar>
  <ion-content>
  <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>   
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/common/1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="img/common/2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="img/common/3.jpg" alt="third slide">
            </div>
            <div class="item">
                <img src="img/common/4.jpg" alt="fourth slide">
            </div>
            <a class="carousel-control left" href="#myCarousel" 
            data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" 
            data-slide="next">&rsaquo;</a>
            </div>
        </div>
    <div id="main">
   		<div class="m_header">
   			<h3>作品欣赏</h3>
   			<div style="color: #878687; font-size: 1rem;">感受幸福的温度，用影像触碰心灵</div>
   			<div style="color: #cbcbcb; font-size: .8rem;">Feel the happiness, touch your soul with the image</div>
   		</div>
   		<div class='d_content'>
        <div class="z_title"><{{title}}></div>
   			<div ng-repeat="list in lists">
          <img src="{{list.img}}" alt="">
        </div>
   		</div>
   </div>
   <div class="footer"></div>
  </ion-content>
  <script src="js/writing/test.js"></script>
</ion-view>